*{  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
header{
          width: 100%;
          line-height: 15vh;
          background-color: #20bf70;
  }

  h1{
      text-align: center;
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-transform: capitalize;
      font-weight: 800;
      font-size: 4rem;
      letter-spacing: 15px;
      text-shadow: 0 2px 0 #ee8ab4,
                   0 2px 0 #e75398,
                   0 4px 0 #f0430e,
                   0 4px 0 #f01717,
                   0 30px 5px  rgba(0,0,0,0.1);

  }
  section{
      height: 85vh;
      display:flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(218, 228, 126);

  }
  .gameArea{
      width: 50%;
      height: 400px;
      padding: 20px 0;
      background-color: #17d394;
      display: flex;
      justify-content: center;
      border-radius: 35px;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 8px 6px -6px black;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h2{
      text-align: center;
      font-size: 2rem;

  }
  input{
      width:40%;
      padding: 15px 0;
      text-align: center;
      border-radius: 25px;
      outline: none;
      border: none;
      background-color: white;
      color: black;
      margin: 2rem 0;
      font-size: 1.1rem;
  }
  button{
      font-size: 1rem;
      cursor: pointer;
      outline: none;
      border: #2f3542;
      margin-top: 10px;
      color: #eb4d4b;
  }
  button.btn{
      font-weight: 600;
      padding: 1rem 2rem;
      background-color: white;
      text-transform: uppercase;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95); 
      cursor: pointer;

  }
  button.btn:hover, button.btn:focus, button.btn:active{
      letter-spacing: 0.125rem;
      word-spacing: 0.2rem;
  }
  .hidden{
      display: none;
  }